#Assignment2 - 15 May : Data Structures

In [8]:
#Q1- commenting code in python, different types of comments

#Single line comments - We can use '#' to write a comment by adding i just before the comment

print('Start')

""" Multi line comments - Although we can write multi line comments by adding (#) before every line. An efficient way is using triple quotation marks just before and after the comment."""

print('Stop')

Start
Stop

In [16]:
#Q2- variables in python and how to declare, assign values to variables:

"""Variables are just containers where we store values. In python, we don't have to declair variables of a specific type and
it is determined directly during runtime when we assign values, also called as 'Dynamic Typing'."""

a = 4
b = 45.5
c = "str"
d = True

print("a is {} \n b is {} \n c is {} \n d is {}".format(type(a),type(b),type(c),type(d)))

a is <class 'int'>
 b is <class 'float'>
 c is <class 'str'>
 d is <class 'bool'>

In [5]:
#Q3- converting one data type to another:

#This is called type as casting

a = 42
b=str(a)
print("a is {} \n b is {}".format(type(a),type(b)))

a is <class 'int'>
 b is <class 'str'>

Q4 - writing and executing a python script from command line

---> To run a python script from command line - open cmd and write 'python x.py'
(x assumed to be the file name where we have saved the script in .py file format.)

we need to have python interpreter installed on the system to run this command.

In [13]:
#Q5 code to slice my_list=[1,2,3,4,5] and obtan a sublist[2,3]
my_list=[1,2,3,4,5]
sub_list = my_list[1:3]
sub_list

[2, 3]

In [19]:
#Q6- complex number and representing in python

"""Complex number is sum of a real and imaginary number represented by a simple equation for example: a+bi, where a is a real number and bi is imaginary number.
the function complex(x,y) is used to convert real numbers x & y to a complex number x+yj"""

a=3
b=5
c=complex(a,b)
type(c)

complex

In [22]:
#Q7- correct way to declare a variable age and assign value 25 to it

age = 25
age

25

In [24]:
#Q8-  Declare a varible price and assign 9.99 to it. What data type wdoes it belong to:

price=9.99
type(price)

float

In [27]:
#Q9-  create a variable name and print the value

name= "Swapnil Kshirsagar"
print(name)

Swapnil Kshirsagar

In [29]:
#Q10- from string "Hello, World!", extract the substring "World":

str="Hello,World!"
str[6:11]

'World'

In [33]:
#Q11- create a variable "is_student" and assign it a boolean value indicating if student or not

is_student = False
type(is_student)

bool