Assignment 1 - 09 May

In [2]:
#Q1

N = 'Swapnil'
marks = [70,80,90]
Perc = 80.0
sub = ('A', 'B', 'C')

In [3]:
#Q2

var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

print("var1 is",type(var1))
print("var2 is",type(var2))
print("var3 is",type(var3))
print("var4 is",type(var4))

var1 is <class 'str'>
var2 is <class 'str'>
var3 is <class 'list'>
var4 is <class 'float'>

In [14]:
#Q3

# / is a division math operator
print(10/2)

# % is a modulus operator and returns remainder value
print(10%3)

# // is floor division operator, returns the result rounded to the nearest whole number
print(15//4)

# ** is exponetiation operator used to raise first number to the power of second
print(2**4)

5.0
1
3
16

In [21]:
#Q4

test_list1=[1,2,'3','str',4.0,[8,8],(11,11),'t1',True]
for i in test_list:
    print(i,'is a',type(i))

1 is a <class 'int'>
2 is a <class 'int'>
3 is a <class 'str'>
str is a <class 'str'>
4.0 is a <class 'float'>
[8, 8] is a <class 'list'>
(11, 11) is a <class 'tuple'>
t1 is a <class 'str'>
True is a <class 'bool'>

In [2]:
#Q5

A = 27
B = 3
while A%B==0:
    print("A is purely divisible by B",A/B,"times")
    break

A is purely divisible by B 9.0 times

In [10]:
#Q6

test_list2 = [10,11,12,13,14,15,16,17,18,19,
              20,21,22,23,24,25,26,27,28,29,
              30,31,31,33,34]
for i in test_list2:
    if i%3==0:
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3
26 is not divisible by 3
27 is divisible by 3
28 is not divisible by 3
29 is not divisible by 3
30 is divisible by 3
31 is not divisible by 3
31 is not divisible by 3
33 is divisible by 3
34 is not divisible by 3

In [9]:
#Q7

'''Mutable are data types that are mutable/changeable, whose values can be altered.List is one such data type 
whose values can be altered. in example below we are adding and updating a new value to an existing list object'''

list3 =[1,2,3,4,5]
list3.append(100)
list3[2]=200
list3

'''Imputable data types do not allow any aletrations once created(immutable).String is a immputable data type,
example below and any attempt to alter some of the characters throws an error.Another immutable data type is Tuples'''

ex ='NOCHANGE'
ex[1]='L'

TypeError: 'str' object does not support item assignment