Q1. What is a database ? Differentiate between SQL and NoSQL database

--

Database is a storage of data. Simply the way we store an integer or a string in a variable, databases are storages to store data electronically. It's easier to store, extract, reuse or rewrite the data with databases.
It stores and manages a large amount of data on a daily basis, which would not be possible using any other tool such as a spreadsheet.

**Structure:** L databases use a structured query language, meaning use predefined schemas to determine the structure of your data before you work with it. Also, all of your data must follow the same structure.A NoSQL database has a dynamic schema for unstructured data. Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based, or organized as a key-value store. This flexibility means that documents can be created without having a defined structure first.

SQL stores data in a table based format, like spreadsheets and NoSQL databases are either key-value pairs, document-based, graph databases etc..

**Scalability:** In almost all situations SQL databases are vertically scalable. This means that you can increase the load on a single server by increasing things like RAM, CPU, or SSD. But on the other hand, NoSQL databases are horizontally scalable. This means that you handle more traffic by sharding, or adding more servers in your NoSQL database. It is similar to adding more floors to the same building versus adding more buildings to the neighborhood. Thus NoSQL can ultimately become larger and more powerful, making these databases the preferred choice for large or ever-changing data sets (- from geeksforgeeks)

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

--

DDL is a set of commands used to define database structure/schema, properties fo the data in database and stands for 'Data Defination Langauge'.

These commands are used to define, modify, and manage the structure of database objects, such as tables, indexes, and constraints


1.   CREATE : Used to create a new table or database:

*e.g syntax: CREATE DATABSE db_name, CREATE TABLE student (Name var_char(20),Roll_No Int, Age Int)*


2.   DROP : used to delete/remove the database objects from the SQL database. We can easily remove the entire table, view, or index from the database using this DDL command

*e.g to drop database: DROP DATABASE db_name;*
*to remove index: DROP INDEX index_name;*


3.   ALTER : Used to modify an existing tables

*e.g to add new field in existing table: ALTER TABLE table_name ADD column_name column_defination*

*to drop field in existing table: ALTER TABLE table_name DROP column_name*


4.   TRUNCATE: deletes or removes all the records from the tableand also removes the space allocated for storing the table records.

*e.h to delete records of a table: TRUNCATE table_name;*

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

--

DML is a set of commands used to easily access, store, modify and update, delete existing records from the database. It stands for Data Manipulation Langauge.

1. INSERT: it allows to add records in database tables

*e.g to add new columns: INSERT INTO table_name(col1, col2, col3)*


2. UPDATE: to update or modify existing records in the database tables

*e.g UPDATE table_name SET[discount=20] WHERE price>100*

above query will set the value in discount column to 20 where the corresponding value of price exceeds 100. You can update multiple records and withput conditions as well.


3. DELETE: as the keyword suggests, it is used remove single or multiple existing records from the database tables.

important to note that it does not delete the stored data permanently from the database.

*e.g DELETE FROM Table_Name WHERE condition;*

Q4. What is DQL? Explain SELECT with an example.

--

DQL is a set of commands that are used to query data from databases.

SELECT: it is the most used command that shows the records of a specific table, also facilitates filtering the records with a condition

*e.g syntax: SELECT * from table_name;*

above record displays the complete table with all ('*') the columns. You can add a set of specific columns instead to show, add a condition additionally that filters out the table

*e.g SELECT Emp_id, Emp_name,Commissions from Cost_Items WHERE Commissions>2000;*

Q5. Explain Primary Key and Foreign Key.

--

Keys are one of the most important elements in relational databases, to uniquely identify data from a table or maintain relationship between two tables.

Primary Key is used to identify data uniquely in a table, so two rows cannot have a same primary key. It can't be null. Primary key that already exists in a database is called a natural key and a user generated one is called surrogate key.

Foregin key is a value that refers to primary key in another table. So it is a way to establish relationship between two tables. Unlike primary key, a table can have more than one foreign keys.

We can't remove the parent table's primary key value, which is referenced with a foreign key column in the child table. In contrast, we can delete the child table's foreign key value even though they refer to the parent table's primary key.

We can insert the values into the primary key column without any limitation. In contrast, we need to ensure that the value is present in a primary key column while inserting values in the foreign key table.

![image.png]()

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

When we create apps, we need to store data somewhere. The way we store information in variable & files in python code, for enterprise grade applications we need to use databases

Below code demonstartes establishing connection between SQL database and python application. hostname, user, password are connection parameters. We have first opened a connection to the MySQL server and stored the connection object in the variable mydb.

We then create a new cursor, by default a MySQLCursor object, using the connection's cursor() method

The cursor class Enables Python scripts to use a database session to run PostgreSQL commands. Cursor is an object that helps to execute the queries and fetch records from the database.

A cursor can be created using the cursor() method of a connection object.

'execute()' method executes a SQL query against the database

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

Q7. Give the order of execution of SQL clauses in an SQL query.

--

SQL order of execution is the order in which clauses of a query are evaluated. A clear understanding of the order will help optimize queries to run faster and diagnose the errors.

Order


1.   FROM: this clause helps select and join tables. So in queries with joins, the first thing to execute is joins

2.   WHERE: it filters out the newly joined data or the base data with the condition in the query
A common mistake in SQL is trying to use a where statement to filter aggregations, which will violate SQL order of execution rules. This is because when the where statement is being evaluated, the “group by” statement has yet to be executed and aggregate values are unknown. Thus, the following query will fail:

3.  GROUP BY: it aggregates/collapses fields of the result from WHERE clause into their distinct values. It is used with aggreagtions like sum() or count() to show one value per grouped field.
e.g *Group by quarter* will put all the numeric values corresponding to same quarters in the same row summed up.

4.  HAVING: it filters the aggregated data and solves the problem that could arise if you use WHERE on a GROUP BY to filter put the data.

5.  SELECT: select returns the data, allows to select the columns to be shown

6.  order by: sorts the selected columns you want to display based on a order of a specific column. e.g ORDER BY profit will sort the data in ascending order of the profit (default is ascending) or can be written as ORDER BY profit DESC

7.  LIMIT: is a way to get a snapshot of the final data by limiting the count of rows displayed than all